/// home page specific styles

.about {
  @extend %text-center;
  &__figure {
    height: 80px;
    line-height: 80px;
    margin-top: 50px;
    &--offset {
      @include breakpoint(tablet) {
        margin-top: 100px;
      }

    }
    > img {
      vertical-align: middle;
    }
  }

  .row {
    .text {
      @include breakpoint(sm) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include breakpoint(desktop) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}

.philosophy {
  @extend %triangle;
  @extend %text-center;
  &__text {
    padding-top: 90px;
    @include breakpoint(sm) {
      padding-top: 140px;
    }
    @include breakpoint(desktop) {
      padding-top: 200px;
    }
  }

}


.team {
  @extend %text-center;
}

.facts {
  @extend %triangle;
  @extend %text-center;
  &__text {
    padding-top: 100px;
  }
  &__list {
    margin: 20px auto;
    &__item {
      margin-left: 8px;
      margin-right: 8px;
      border: 1px solid rgba(#fff,0.36);
      width: 200px;
      min-height: 120px;
      color: white;
      font-size: 20px;
      font-weight: 300;
      line-height: 37px;
      margin-bottom: 16px;
      strong {
        display: block;
        color: $green;
        font-weight: 700;
        font-size: 43px;
        line-height: 43px;
        padding-top: 20px;
      }
      &--offset {
        position: relative;

        @include breakpoint(sm) {
          top: 50px;
        }
      }

      @include breakpoint(sm) {
        margin-bottom: 0;
      }

      @include breakpoint(desktop) {
        width: 250px;
        min-height: 160px;
        strong {
          font-size: 53px;
          line-height: 53px;
          padding-top: 30px;
        }
      }
    }

    @include breakpoint(desktop) {
      margin: 50px auto;
    }
  }

}

.projects {
  @extend %text-center;
  .lead {
    margin-bottom: 50px;
  }
  .offset-top {
    @include breakpoint(sm) {
      margin-top: 90px;
    }
  }
  &__item {
    display: block;
    margin-bottom: 15px;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
    &__overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($green, 0.88);
      font-size: 20px;
      font-weight: 300;
      color: #fff;
      padding-top: 60px;
      line-height: 190px;
      opacity: 0;
      transition: opacity .5s ease-out;
      @media (max-width: 767px) {
        font-size: 0;
      }
      &:hover {
        text-decoration: none;

      }
      &:before, &:after {
        content: '';
        display: block;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
      }
      &:before {
        width: 1px;
        height: 54px;
        margin-top: -40px;
      }
      &:after {
        width: 54px;
        height: 1px;
        margin-left: -25px;
        margin-top: -13px;
      }
    }

    &:hover {
      .projects__item__overlay {
        opacity: 1;
      }
    }
  }
}


.connected {
  @extend %text-center;
  @extend %triangle;
  &__text {
    padding-top: 100px;
    @include breakpoint(sm) {
      padding-top: 80px;
    }
    @include breakpoint(desktop) {
      padding-top: 100px;
    }
  }
  &__list {
    margin-top: 20px;
    @include breakpoint(desktop) {
      margin-top: 50px;
    }
    &__item {
      vertical-align: top;
      margin: 15px 30px;
      @include breakpoint(sm) {
        margin: 0 5px;
      }
      @include breakpoint(desktop) {
        margin: 0 30px;
      }
    }
  }

}

.social-link {
  display: block;
  &__circle {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid rgba(#fff,0.25);
    background-color: transparent;
    transition: .3s background-color ease-out;
    .icon {
      transform: scale(.7);
    }
    @include breakpoint(desktop) {
      width: 91px;
      height: 91px;
      line-height: 91px;
      .icon {
        transform: scale(1.0);
      }
    }
  }
  &__name {
    line-height: 23px;
    display: block;
    color: $green;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  &__subname {
    line-height: 15px;
    color: white;
    font-size: 15px;
  }

  &:hover {
    text-decoration: none;
    .social-link__circle {
      background-color: $green;
    }
  }
}



.testimonials {
  @extend %text-center;
  &__figure {
    img {
      margin: 0 auto;
    }
  }
  &__text {
    margin: 20px auto;
    @include breakpoint(tablet) {
      width: 50%;
    }
  }

  &__caption {
    color: $green;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
  }
}

.clients {
  @extend %text-center;
  &__list {
    margin: 0 auto;
    @include breakpoint(sm) {
      margin: 30px auto;
    }
    &__item {
      &__link {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        margin: 20px;
        img {
          vertical-align: middle;
          display: inline-block;
        }

        @include breakpoint(desktop) {
          margin: 0 20px;
        }
      }
    }
  }
}


.contact {
  @extend %text-center;
  @extend %triangle;
  &__text {
    padding-top: 120px;
  }
  &__list {
    margin-top: 30px;
    @include breakpoint(sm) {
      margin-top: 50px;
    }
    @include breakpoint(desktop) {
      margin-top: 100px;
    }
    &__item {
      font-size: 18px;
      font-weight: 300;
      line-height: 25px;
      color: white;
      margin-bottom: 15px;
      @include breakpoint(tablet) {
        width: 33%;
        margin-bottom: 0;
      }
      @include breakpoint(sm) {
        font-size: 22px;
      }
      &:first-child {
        @include breakpoint(sm) {
          text-align: left;
        }

      }
      &:last-child {
        @include breakpoint(sm) {
          text-align: right;
        }

      }
      &__link {
        color: white;
        text-decoration: none;
        line-height: 30px;
        display: inline-block;
        .icon {
          margin-right: 10px;
          &.icon-phone {
            top: -2px;
          }
        }
        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

}
