%svg-common {
	background: url(svg/sprite.css-9e113b9d.svg) no-repeat;
}

.svg-mail {
	@extend %svg-common;
	background-position: 0 80.3030303030303%;
}

.svg-mail-dims {
	width: 26px;
	height: 20px;
}

.svg-marker {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-marker-dims {
	width: 19px;
	height: 26px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 1.4179104477611941% 100%;
}

.svg-phone-dims {
	width: 26px;
	height: 26px;
}

.svg-separator {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-separator-dims {
	width: 1366px;
	height: 106px;
}

