%svg-common {
	background: url(svg/sprite.css-fbb39966.svg) no-repeat;
}

.svg-arrow-left {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-arrow-left-dims {
	width: 33px;
	height: 71px;
}

.svg-arrow-right {
	@extend %svg-common;
	background-position: 2.4756189047261814% 100%;
}

.svg-arrow-right-dims {
	width: 33px;
	height: 71px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 4.982260134370046% 78.11348563006634%;
}

.svg-facebook-dims {
	width: 41.3px;
	height: 41.3px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 11% 67.51592356687898%;
}

.svg-mail-dims {
	width: 26px;
	height: 20px;
}

.svg-marker {
	@extend %svg-common;
	background-position: 4.8997772828507795% 97.5496688741722%;
}

.svg-marker-dims {
	width: 19px;
	height: 26px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 6.343283582089552% 97.5496688741722%;
}

.svg-phone-dims {
	width: 26px;
	height: 26px;
}

.svg-separator {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-separator-dims {
	width: 1366px;
	height: 106px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 8.09261633607361% 74.3859649122807%;
}

.svg-twitter-dims {
	width: 40.1px;
	height: 34.5px;
}

