$green: #10c7c9;
$grey-dark:  #3d3d3d;

$icon-font-path: '../fonts/';
$navbar-border-radius: 0;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $green;
$navbar-default-link-active-color: $green;
$font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif !default;
$nav-link-padding: 10px 20px;
$font-size-h1: 55px;
$font-size-h2: 35px;
$font-size-h3: 22px;
$btn-font-weight: 300;
$btn-default-color: rgba(255,255,255,0.56);
$btn-default-bg: transparent;
$border-radius-base: 0;
