.navbar {
  border: none;
  padding: 15px 0;
  &-brand {
    padding: 0;
    margin-left: 15px;
    height: auto;
    @include breakpoint(tablet) {
      margin-left: 0 !important;
    }
  }
  &-nav {
    @include breakpoint(tablet) {
      float: right;
    }
    &__link {
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      color: white;
      @media (max-width: 767px) {
        padding-left: 15px !important;
      }
    }
  }
}

.main-header__text {
  bottom: 0;
  padding-bottom: 30px;
  @include breakpoint(tablet) {
    padding: 0;
    padding-bottom: 30px;
  }
  @include breakpoint(sm) {
    padding: 0;
  }

}

.intro {
  &__small {
    float: right;
    font-size: 18px;
    font-weight: 400;
    color: $green;
    letter-spacing: 1px;
    border-top: 2px solid rgba(255,255,255, 0.2);
    @include breakpoint(sm) {
      font-size: 22px;
    }
  }

  @include breakpoint(sm) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
  }


  @include breakpoint(desktop) {
    bottom: 300px;
  }
}
