

.btn-default {
  border-width: 2px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 30px;
  &:hover, &:focus {
    border-color: white;
    color: white;
  }

  @include breakpoint(sm) {
    padding: 16px 40px;
    font-size: 22px;
  }
}


.btn-link {
  padding: 0;
  font-size: inherit;
  display: inline;
  line-height: inherit;
  vertical-align: top;
  font-weight: 300;
  color: $green;
  &:hover {
    color: $green;
  }
}
