/// picture-bg component styles

@mixin picture-bg($selector) {

  #{$selector} {
    position: relative;
  }

  #{$selector}__picture {
    display: block;
    > img {
      display: block;
      width: 100%;
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  #{$selector}__text {
    background-color: $grey-dark;
    padding: 20px 0;
    @include breakpoint(sm) {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
    }
  }

}


@include picture-bg('.main-header');
@include picture-bg('.philosophy');
@include picture-bg('.facts');
@include picture-bg('.connected');
@include picture-bg('.contact');
