@mixin carousel($selector) {
  #{$selector} {
    margin: 30px 200px 0 200px;
    @include breakpoint(sm) {
      margin: 30px 80px;
    }
    img {
      width: 100%;
    }
    .slide {
      margin: 10px;
      width: 300px;
      transform: translateY(0);
      transition: transform ease-out .5s;
      &.slick-center {
        transform: translateY(50px);
      }
      &:focus {
        outline: none;
      }

      @include breakpoint(sm) {
        width: 250px;
      }

      @include breakpoint(desktop) {
        width: 300px;
      }
    }
    .slick-track {
      @include breakpoint(sm) {
        padding-bottom: 60px;
      }
    }
  }

  .slick-arrow {
    @extend .svg-arrow-left-dims;
    margin-top: -65px;
    &.slick-prev {
      @extend .svg-arrow-left;
      left: -50px;
    }
    &.slick-next {
      @extend .svg-arrow-right;
      right: -50px;
    }
  }
}

@include carousel('.carousel');



.testimonials {
  .slick-arrow {
    &.slick-next {
      right: 0;
    }
    &.slick-prev {
      left: 0;
    }
  }
}
